# Dependencies
node_modules/
package-lock.json

# Build output
dist/

# Firebase Cache
.firebase/
hosting.ZGlzdA.cache

# Logs
*.log

# Environment Variables
.env
.env.local
.env.*.local

# VSCode Settings
.vscode/

# Misc
.DS_Store
